/* http://meyerweb.com/eric/tools/css/reset/ */

/* v1.0 | 20080212 */
 html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    margin: 0;
    padding: 0;
    border: 0;
    outline: 0;
    font-size: 100%;
    vertical-align: baseline;
    background: transparent;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after, q:before, q:after {
    content:'';
    content: none;
}
/* remember to define focus styles! */
 :focus {
    outline: 0;
}
/* remember to highlight inserts somehow! */
 ins {
    text-decoration: none;
}
del {
    text-decoration: line-through;
}
/* tables still need 'cellspacing="0"' in the markup */
 table {
    border-collapse: collapse;
    border-spacing: 0;
}
/* `Basic HTML
----------------------------------------------------------------------------------------------------*/
 body {
    font: 13px/1.5 'Open Sans', sans-serif;;
    background: url(../img/background.jpg) no-repeat #674172;
    background-size: cover;
}
a:focus {
    outline: 1px dotted;
}
hr {
    border: 0 #ccc solid;
    border-top-width: 1px;
    clear: both;
    height: 0;
}

html, body{
    height: 100%;
}
/* `Headings
----------------------------------------------------------------------------------------------------*/
 h1 {
    font-size: 25px;
}
h2 {
    font-size: 23px;
}
h3 {
    font-size: 21px;
}
h4 {
    font-size: 19px;
}
h5 {
    font-size: 17px;
}
h6 {
    font-size: 15px;
}
/* `Spacing
----------------------------------------------------------------------------------------------------*/
 ol {
    list-style: decimal;
}
ul {
    list-style: disc;
}
li {
    margin-left: 30px;
}
p, dl, hr, h1, h2, h3, h4, h5, h6, ol, ul, pre, table, address, fieldset {
    margin-bottom: 20px;
}
/*
960px grid system ~ Core CSS.
12 Columns ~ Margin left: 10px ~ Margin right: 10px

Based on the 1kb grid system - http://www.1kbgrid.com/
by Tyler Tate

Created by the Grid System Generator - v1.01
Learn more ~ http://www.gridsystemgenerator.com/
*/
 .grid_1 {
    width: 60px;
}
.grid_2 {
    width: 140px;
}
.grid_3 {
    width: 220px;
}
.grid_4 {
    width: 300px;
}
.grid_5 {
    width: 380px;
}
.grid_6 {
    width: 460px;
}
.grid_7 {
    width: 540px;
}
.grid_8 {
    width: 620px;
}
.grid_9 {
    width: 700px;
}
.grid_10 {
    width: 780px;
}
.grid_11 {
    width: 860px;
}
.grid_12 {
    width: 940px;
}
.column {
    margin: 0 10px 0 10px;
    overflow: hidden;
    float: left;
    display: inline;
}
.row {
    width: 960px;
    margin: 0 auto;
    overflow: hidden;
}
.row .row {
    margin: 0 -10px 0 -10px;
    width: auto;
    display: inline-block;
}
.main-container{
    background-color: white;
    min-height: 100%;
    width: 964px;
    margin: 0 auto;
    overflow: hidden;
}
/* --------------------------------------------------
Estilos: Comunes
-------------------------------------------------- */
#seccionVolverAlInicio{
    padding: 1em 0 2em 0;
}
#seccionVolverAlInicio a{
    float: right;
}
.btnInicio {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 12px;
  background: #347ed9;
  padding: 10px 10px 10px 11px;
  text-decoration: none;
}

.btnInicio:hover {
  background: #3cb0fd;
  text-decoration: none;
}

.sectionHeader{
    margin-bottom: 0.2em;
}

.sectionContainer{
    border-bottom: 1px solid #EEEEEE;
    margin-bottom: 2em;
}
.bold{
    font-weight: 600;
}
/* --------------------------------------------------
Estilos: Index
-------------------------------------------------- */
.logo-and-text{
    margin-top: 2em;
}

.logo-and-text img{
    vertical-align: middle;
}

.logo-and-text h3, .logo-and-text h4{
    margin: 0.5em 0;
    display: inline-block;
}

.logo-and-text h4{
    margin-left: .5em;
}

.listaOpciones {
  margin: 0 0 2em;
  padding: 0;
  list-style-type: none;
}

.listaOpciones li {
  counter-increment: step-counter;
  margin: 0 0 0 1em;
  padding: 0.5em 0;
  border-bottom: 1px solid #EEEEEE;
  font-size: 1.2em;
}

.listaOpciones li::before {
  content: counter(step-counter);
  margin-right: 5px;
  font-size: 80%;
  background-color: rgb(0,200,200);
  color: white;
  font-weight: bold;
  padding: 3px 8px;
  border-radius: 3px;
}
.listaOpciones a{
    line-height: 1.5em;
    cursor: pointer;
}
.listaOpciones a, .listaOpciones a:visited{
     color: #000;
     text-decoration: none;
}
/* --------------------------------------------------
Estilos: CDN
-------------------------------------------------- */
#resultadoContainer{
    display: none;
}
.resultadoCarga{
    padding: 1em;
    border: 1px solid #87D37C;
    background-color: #C8F7C5;
}
.resultadoCarga.local{
    border-color: #F62459;
    background-color: #F1A9A0;
}
/* --------------------------------------------------
Estilos: Cacheo de objetos
-------------------------------------------------- */
#btn_MostrarParrafo{
    margin-bottom: 1em;
}

/* --------------------------------------------------
Estilos: Optimizacion de Selectores
-------------------------------------------------- */
#contenedorTabla .pure-table{
    margin: 1.5em auto;
    width: 50%;    
}
#contenedorTabla .pure-table td, #contenedorTabla .pure-table th{
    text-align: center;
}

.fila-activa {
    background-color: #19B5FE !important;
    color: white !important;
}

/* --------------------------------------------------
Estilos: Un solo Handler
-------------------------------------------------- */
#listaProductos li{
    margin-bottom:0.5em;
    border-bottom:1px solid #DADFE1;
}

#listaProductos li:hover{
    cursor: pointer;
}
#instruccionesContainer p{
    margin-bottom: 0.5em;
}
#instruccionesContainer ul{
    list-style-type: none;
}

#instruccionesContainer li{
    margin-left: 0.5em;
    margin-bottom: 1.0em;
}

#instruccionesContainer span{
    margin-left: 0.5em;
}
#LogContainer{
    background-color: #2C3E50;
    min-height: 560px;
}

.logEntry{
    text-indent: 1em;
    margin-bottom: 0.5em;
    color: #2ECC71;
    font-family:  "Lucida Console", Monaco, monospace;
}
/* --------------------------------------------------
Estilos:Object Literal
-------------------------------------------------- */
 .articulo {
    padding: 0.2em;
    margin: 0.5em 2em 0 2em;
    text-indent:0.5em;
    border:1px dotted #6C7A89;
    color: white;
}

#parrafosContainer{
    margin: 1.0em 10px;
}
/* --------------------------------------------------
Estilos: Plugin
-------------------------------------------------- */
 legend {
    display: block;
    padding-left: 0.2em;
    padding-right: 0.2em;
    border: none;
}
#formularioDatos {
    border: 1px solid;
    padding: 0.5em;
}
#formularioDatos input {
    margin-bottom: 0.5em;
}
.spanFijo {
    min-width: 140px;
    display: inline-block;
    text-align: right;
    margin-right: 4px;
}
input.campoObligatorio {
    background-color:#F1A9A0;
    border:2px solid #E08283;
}
span.campoObligatorio::after {
    content:"*";
    color:#E08283;
}
#btn_ValidarFormulario {
    margin-left:168px;
}

/* --------------------------------------------------
Estilos: Demo Templates
-------------------------------------------------- */
#contenedorPlantilla .pure-table{
    width: 100%;
    margin: 1em auto;
    -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */  
}
#contenedorPlantilla .pure-table td, #contenedorPlantilla .pure-table th{
    text-align: center;
}


#contenedorPlantilla  td:nth-child(1), #contenedorPlantilla  th:nth-child(1) {  
   text-align: left;
}

#contenedorPlantilla .pure-table tfoot td{
    text-align: right;
    font-size: 10px;
    background-color: #E0E0E0;
}

.row-block{
    display: inline-block;
    width: 100%;
}

#textArea-json{
    resize : vertical;
    width: 100%;
    min-height: 460px;
    font-family: Consolas, 'Courier New', monospace;
    color: #BB2917;
    font-size: 11px;
    margin-bottom: 1.5em;
     -webkit-box-sizing: border-box; /* Safari/Chrome, other WebKit */
     -moz-box-sizing: border-box;    /* Firefox, other Gecko */
     box-sizing: border-box;         /* Opera/IE 8+ */
}

.block-button {
  -webkit-border-radius: 6;
  -moz-border-radius: 6;
  border-radius: 6px;
  color: #ffffff;
  font-size: 12px;
  padding: 10px 10px 10px 11px;
  margin: 0 0em 1em 0;
  text-decoration: none;
  text-align: center;
  display: block;
}

.block-button:hover {
  text-decoration: none;
  cursor: pointer;
}

.btn-green{
  background: #2ECC71;
}
.btn-green:hover{
  background: #16A085;
}

.btn-blue{
  background: #3498DB;
}
.btn-blue:hover{
  background: #1E8BC3;
}

.errorMsg{
  padding: 0.5em;
  border: 1px solid #E00E08;
  background-color: #FDEBEB;
}

.errorList {
    list-style: none;
}

.errorList li{
  padding: 0 0 0.5em 0;
  margin: 0;
}

.errorList li:before {
  content: "•";
  color:  #CF000F;
  margin: inherit;
  margin-right: .5em; 
}

.errorList em{
  color: #CF000F;
}
   

